{% extends "public/templates/webTemplate.html" %}

{% block title %} Usuários {% endblock %}

{% block body %}

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="card">
      <div class="card-header">
        <a class="link" href="/user" style="float: right;";><button type="click" class="btn btn-primary"> Adicionar </button></a>
        <h2 class="card-title" style="padding-top: 10px;"><b>Usuários</b></h2>
      </div>
      <div id="wrapper"></div>
    </div>
  </section>


</div>

<aside class="control-sidebar control-sidebar-dark">
</aside>
</div>

</script>
</body>

</html>
{% endblock %}

{% block script %} 
<script>

const headers = [
          {id: 'ativo', name: 'Ativo'},
          {id: 'email', name: 'Email'},
          {id: 'login', name: 'Login'},
          {id: 'nome', name: 'Nome'},
          {id: 'permissoes_id', name: 'Permissão'},
          {id: 'edit', name: 'Editar', 
          formatter: (cell, row) => {
            return gridjs.h('p', {onClick: () => alert(`Editing "${row.cells[1].data}" "${row.cells[2].data}"`)}, 'Edit');
          }},
        ];
  
makeUserGrid(headers, `${window.origin}/fetchData/usuario`);
  
</script>

<script>

</script>


{% endblock %}
