{% extends "public/templates/webTemplate.html" %}

{% block title %} Cadastrar Usuário {% endblock %}

{% block body %}

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
        </div>
      </div>
    </div>
  </div>

  <section class="content" style="padding-right: 280px;">
    <div class="card">
      <div class="card-header" style="padding-right: 20px;">
        <a class="link" href="/manuf" style="float: right;";><button type="click" class="btn btn-primary"> Adicionar </button></a>
        <h2 class="card-title" style="padding-top: 10px;"><b>Fabricante</b></h2>
      </div>
      <table class="table" style="display: block;">
        <thead></thead>
        <tbody></tbody>
      </table>
      </div>
      <div class="card-body">
        <div id="manufacturerGrid" style="padding-bottom: 50px;"></div>
      </div>
    </div>
  </section>
</div>

<aside class="control-sidebar control-sidebar-dark">
</aside>
</div>

</script>
</body>

</html>
{% endblock %}

{% block script %}
<script>
  loadIntoTable(`${window.origin}/fetchData/fabricante`, document.querySelector('table'))
</script>
{% endblock %}