{% extends "public/templates/webTemplate.html" %}

{% block title %} Cadastrar Usuário {% endblock %}

{% block body %}

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="card">
      <div class="card-header">
        <a class="link" href="/manuf" style="float: right;";><button type="click" class="btn btn-primary"> Adicionar </button></a>
        <h2 class="card-title" style="padding-top: 10px;"><b>Fabricante</b></h2>
      </div>
    <div id="wrapper"></div>
    </div>
  </section>
</div>

<aside class="control-sidebar control-sidebar-dark">
</aside>
</div>

</script>
</body>

</html>
{% endblock %}

{% block script %}
<script>
  const headers = [
        {id: 'nome', name: "Nome"},
        {id: 'nome_fantasia',name: "Nome Fantasia"},
        {id: 'cnpj',name: "CNPJ", },
        {id: 'logradouro',name: "Logradouro",},
        {id: 'bairro',name: "Bairro", },
        {id: 'cidade',name: "Cidade", },
        {id: 'numero', name: "Numero", },
        {id: 'cep',name: "CEP", },
        {id: 'uf', name: "UF", },
        {id: 'nome_contato1', name: "Nome Contato 1",},
        {id: 'nome_contato2', name: "Nome Contato 2",},
        {id: 'fone_contato1', name: "Fone Contato 1",},
        {id: 'fone_contato2', name: "Fone Contato 2",},
        {id: 'email_contato1', name: "Email Contato 1",},
        {id: 'email_contato2', name: "Email Contato 2",},
        {id: 'situacao', name: "Situação", },
        {id: 'edit', name: 'Editar', 
          formatter: (cell, row) => {
            return gridjs.h('p', {onClick: () => alert(`Editing "${row.cells[2].data}"`)}, 'Edit');
        }}
      ]

      

      makeProviderGrid(headers, `${window.origin}/fetchData/fabricante`);
</script>
{% endblock %}