{% extends "public/templates/webTemplate.html" %}

{% block title %} Cadastrar Usuário {% endblock %}

{% block body %}

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
        </div>
      </div>
    </div>
  </div>

  <section class="content" >
    <div class="card">
      <div class="card-header">
        <a class="link" href="/material" style="float: right;";><button type="click" class="btn btn-primary"> Adicionar </button></a>
        <h2 class="card-title" style="padding-top: 10px;"><b>Material</b></h2>
      </div>
      <div id="wrapper"></div>
    </div>
  </section>
</div>

<aside class="control-sidebar control-sidebar-dark">
</aside>
</div>

</script>
</body>

</html>
{% endblock %}

{% block script %}
<script>

  const headers = [
          {id: 'estoque_minimo', name: 'Estoque minimo'},
          {id: 'fabricante_id', name: 'Fabricante'},
          {id: 'grupo_id', name: 'Grupo'},
          {id: 'modelo', name: 'Modelo'},
          {id: 'ncm', name: 'Ncm'},
          {id: 'foto', name: 'Foto'},
          {id: 'possui_numero_serie', name: 'Numero Série'},
          {id: 'posicao_estoque', name: 'Posicao Estoque'},
          {id: 'tipo_id', name: 'Tipo'},
          {id: 'edit', name: 'Editar', 
          formatter: (cell, row) => {
            return gridjs.h('p', {onClick: () => alert(`Editing "${row.cells[6].data}"`)}, 'Edit');
        }}
        ];
  
  makeMaterialGrid(headers, `${window.origin}/fetchData/material`);
</script>
{% endblock %}